@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Agua al Día

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #606060;
$secondary_color: #03398e;
$tertiary_color: #dd008e;
$background: #d2ebff;
$border: #f1f1f1;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Roboto Condensed', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* General */

.grecaptcha-badge {
	bottom: 120px !important;
}

/* Top */

.top {
	.moduletable_to1 {
		padding: 15px 0;
	}
	.moduletable_to2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						padding: 0 5px;
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								border-bottom: 2px solid $tertiary_color;
							}
						}
						a {
							padding: 5px;
							border-bottom: 2px solid transparent;
							font-size: 12px;
							&:hover {
								border-bottom: 2px solid $tertiary_color;
							}
						}
					}
				}
			}
		}
	}
	.moduletable_to3 {
		height: 72px;
		position: relative;
		z-index: 1;
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		margin-bottom: 10px;
		font: {
			size: 22px;
			weight: bold;
		}
		color: $secondary_color;
	}
	h2 {
		margin-bottom: 10px;
		font: {
			size: 20px;
			weight: bold;
		}
		color: $secondary_color;
	}
	h3 {
		font-size: 14px;
		color: $secondary_color;
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 30px 0;
	background-color: $background;
	.moduletable_b11 {
		h3 {
			font-size: 14px;
			color: $secondary_color;
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 30px 0;
	.moduletable_b21 {
		h3 {
			margin: 0;
			font-size: 24px;
			color: $secondary_color;
			text-transform: uppercase;
		}
		.wplp_outside {
			.insideframe {
				ul {
					li {
						.insideframe {
							padding: 10px;
							.wpcu-front-box {
								&.top {
									a {
										.thumbnail {
											margin: 0;
											box-shadow: none;
										}
										.title {
											padding: 10px 0;
											font-size: 16px;
											color: $secondary_color;
											text-transform: uppercase;
										}
									}
								}
								&.bottom {
									a {
										.text {
											font-size: 16px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 30px 0;
	background-color: $background;
	.moduletable_b31 {
		h3 {
			margin: 0;
			font-size: 24px;
			color: $secondary_color;
		}
	}
}

/* Block 4 */

.block_4 {
	.moduletable_b41 {
		iframe {
			border: 0;
		}
	}
}

/* Bottom */

.bottom {
	padding: 20px 0;
	border-top: 4px solid $secondary_color;
	.moduletable_bo1 {
		#a {}
		#b {
			font-size: 12px;
			color: $secondary_color;
		}
		#c {
			a {
				margin: 0 5px;
				display: inline-block;
			}
		}
		#d {
			height: 52px;
			margin-top: -65px;
			position: relative;
			z-index: 1;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 20px;
	font-size: 12px;
	color: $secondary_color;
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}